#!/usr/bin/env bash
[ -n "$XPROFILE_SOURCED" ] && return 0
export XPROFILE_SOURCED=1

export PATH="$HOME/project/dev/nazg/tools/scripts:$PATH"
export BROWSER="qutebrowser"
export GNUPGHOME="$HOME/.gnupg"
export EDITOR="nvim"
export XDG_SESSION_TYPE=x11
export XDG_CURRENT_DESKTOP=dwm
export DESKTOP_SESSION=dwm

# Import environment into systemd/dbus
if [ -n "$DISPLAY" ]; then
  systemctl --user import-environment DISPLAY XAUTHORITY XDG_CURRENT_DESKTOP XDG_SESSION_TYPE PATH
fi
if command -v dbus-update-activation-environment >/dev/null 2>&1; then
  dbus-update-activation-environment --systemd DISPLAY XAUTHORITY XDG_CURRENT_DESKTOP XDG_SESSION_TYPE PATH
fi

setxkbmap -option caps:swapescape & # swap esc with caps lock
xset r rate 150 90 &                # increase speed of keyboard
xset s off &                        # disable screen saver
xset -dpms &                        # disable monitor shutdown
xset -b &                           # disable annoying desktop bell sound
sxhkd -m 1 &                        # keyboard shortcuts
unclutter -idle 2 &                 # hide mouse cursor
picom -b &                          # start compositor for opacity/fading stuff
dunst &                             # start notification daemon
mpd &                               # start mpd as normal user
# adaptive-blue-light-filter &      # blue light filter
sunshine &                          # start stream server
xsct 3500 &
syncthing --no-browser &
slstatus &
periodic-random-wallpaper-switcher &
personal-website-periodic-update.sh &
song-change-notification.sh &
udiskie &
st sh -c '/home/kkoc/project/repos/sauron/sauron' &
qutebrowser --qt-flag enable-gpu-rasterization --qt-flag enable-zero-copy --qt-flag disable-gpu-driver-workarounds --qt-flag use-vulkan --qt-flag disable-features=UseChromeOSDirectVideoDecoder &
